<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Aware_keyword</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addplacess</display-name>
    <servlet-name>addplacess</servlet-name>
    <servlet-class>DB.addplacess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addplacess</servlet-name>
    <url-pattern>/asdplacess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recommendd</display-name>
    <servlet-name>recommendd</servlet-name>
    <servlet-class>DB.recommendd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recommendd</servlet-name>
    <url-pattern>/recommeddd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userreg</display-name>
    <servlet-name>userreg</servlet-name>
    <servlet-class>DB.userreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userreg</servlet-name>
    <url-pattern>/userreg</url-pattern>
  </servlet-mapping>
</web-app>